{% extends 'C:\Users\user\Desktop\Alle sites\django_shop\shop\templates\delivery.html' %}

{% load static %}

{% block title %}<title>Поддержка</title>{% endblock title %}

{% block content %}
<section class="page-content">
            <div class="container">
                <div class="page-content-wrapper">
                    <h1>Поддержка</h1>
                    <div class="form-support">
                        <form action="" method="post">
                            <textarea name="" id="" cols="30" rows="10">Напишите сообщение...</textarea>
                            <button type="submit"><span>Отправить</span></button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}